.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #74c0fc;
    background: none;
    color: #74c0fc;
    height: 50px;
    width: 300px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 50px;
}

.add-button-img {
    width: 25px;
    height: 25px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
